<article class="post">

<div class="card">
  <div class="card-content">
     <a href="/clothing_product/{{id}}"><h1>{{product}}</h1></a>
    <div class="content">
      <p>{{size}}</p>
      <p>{{color}}</p>
      <p>${{price}}</p>
      <p>{{User.username}}</p>

    </div>
  </div>
</div>

</article>
