<article class="post">
  <div class="title">
    <a href="/clothing_product/{{id}}">Product</a>
      <h1>{{size}}|{{product}}</h1>
      <p>{{color}}</p>
      <p>{{price}}</p>
      <p>{{User.username}}</p>
  </div>

</article>