<article class="post">
  <div class="title">
      <h1>{{product_name}}|${{price}}</h1>
      <p>{{description}}</p>
      <img src="/images/{{img_file}}" alt="{{product_name}}"/>
  </div>
  <div class="meta">
    By {{user.username}} on {{format_date created_at}}
    | {{like_count}} Interested |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>