<article class="post">
  <div class="title">
    <a href="/clothing_product/{{id}}"><h1>{{product}}</h1></a>
      <p>{{size}}</p>
      <p>{{color}}</p>
      <p>{{price}}</p>
      <p>{{User.username}}</p>
  </div>

</article>